.title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.stat0 {
    color: #979797;
    width: 120px;
}

.stat1 {
    color: #3FA3FF;
    width: 120px;
}

.stat2 {
    color: #FF0000;
    width: 120px;
}