.title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 32px;
    height: 32px;
    border-radius: 999px;
}

.stat0 {
    color: #979797;
    width: 120px;
}

.stat1 {
    color: #3FA3FF;
    width: 120px;
}

.stat2 {
    color: #FF2E00;
    width: 120px;
}