.av-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 40px;
    border-radius: 24px;
    background-color: #fff;
}

.av-form .form-title {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.av-form .form-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 1px;
    background: #F3F6F6;
    border-radius: 999px;
}

.av-form .av-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;

    border-radius: 100%;
    background-color: #EFFBFF;
}

.av-form .inputs-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.av-form .input-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.av-form .double-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.av-form input,
.av-form textarea,
.av-form select {
    width: 360px;
    height: 48px;
    padding: 13px 20px;
    border-radius: 8px;

    background-color: #F3F6F6;
}

.av-form .double-block input,
.av-form .double-block textarea,
.av-form .double-block select {
    width: 156px;
}

.av-form textarea {
    height: 96px;
    resize: none;
}

.av-form .cover {
    width: 100%;
    height: 96px;
    border-radius: 8px;
}


input[type="file"] {
    cursor: pointer;
    transition: border 300ms ease, background-color 300ms ease;
}

input[type="file"]:hover {
    background-color: #eaeeee;
}

.av-form label {
    font-weight: 700;
}

.av-form p {
    font-size: 12px;
    letter-spacing: -0.03em;
}

.av-form p a {
    color: #3FA3FF;
}

.av-form .input-block p {
    color: #979797;
}

.av-form .input-block .error-text,
.error-text {
    align-self: center;
    color: #FF2E00;
}

.av-form .form-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.av-form {
    opacity: 0;
    transform: translateY(5px);
    animation: fadeInUp 0.5s ease-out forwards;
    animation-delay: calc(var(--i) * 0.07s);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}