body {
    background-color: #F3F6F6;
    font-family: 'Manrope';
}

footer {
    background-color: #242424;
    color: #979797;
    width: 320px;
    padding-inline: 200px;
    padding-bottom: 60px;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}