body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.05em;
    font-family: "Manrope", sans-serif;

    background-color: #F3F6F6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding-inline: 10%;

    background-color: #242424;
    color: #EFFBFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding-inline: 10%;
    margin-block: 80px;
}

.logo {
    height: 35px;
    width: 150px;
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #979797;

    letter-spacing: -0.03em;

    transition: color 0.3s ease;
}

.menu a:hover {
    text-decoration: none;
    color: #EFFBFF;
}

.av-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 8px;

    border-radius: 100%;
    background-color: #323232;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #242424;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #242424;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #242424;
}

span {
    color: #3FA3FF;
}


.input-group {
    position: relative;
    display: inline-block;
}

.w-head-btn {
    padding: 10px 30px;
    border-radius: 999px;
    height: 48px;

    border: 2px solid #979797;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.w-head-btn:hover {
    color: #EFFBFF;
    border-color: #EFFBFF;
    background-color: #323232;
}

.fill-btn a {
    color: #EFFBFF;
}

.outline-btn a {
    color: #242424;
}

.fill-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 15px 30px;
    border-radius: 999px;
    height: 48px;
    font-weight: 500;

    background-color: #242424;
    color: #EFFBFF;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.fill-btn:hover {
    background-color: #323232;
}

.outline-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 10px 30px;
    border-radius: 999px;
    font-weight: 500;

    border: 2px solid #242424;
    color: #242424;

    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.outline-btn:hover {
    cursor: pointer;

    background-color: #EFFBFF;
    border: 2px solid #3FA3FF;
}

.square-btn {
    width: 48px;
    height: 48px;
    padding: 0;
}

.double-btn {
    display: flex;
    gap: 10px;
}

footer {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    bottom: 0;
    height: 320px;
    padding-inline: 10%;
    padding-block: 60px;


    background-color: #242424;
    color: #979797;
}

footer .site-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;
    letter-spacing: -0.03em;
}

footer p {
    display: inline-block;
}

footer span {
    color: #EFFBFF;
}