.profile-avatar {
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.profile-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.p-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 40px;
    border-radius: 24px;
    background-color: #fff;

    transition: width 2s ease-in-out;
}

.p-block .p-block-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.p-block .p-block-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 1px;
    background: #F3F6F6;
    border-radius: 999px;
}

.p-block .p-block-data {
    display: flex;
    width: 100%;
}


.p-block-data textarea {
    resize: none;
    width: 100%;
    letter-spacing: -0.05em;

    padding: 13px 20px;
    border-radius: 8px;

    background-color: #F3F6F6;
}