body {
    position: relative;
}

.blur-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15px;
}

.cover {
    width: 32px;
    height: 32px;
    border-radius: 999px;
}

/* Отключить прокрутку для body, когда открыто модальное окно */
body.no-scroll {
    overflow: hidden;
}

.av-form {
    display: flex;
    position: fixed;
    top: 5%;
    z-index: 2;
    /* overflow: scroll; Добавить прокрутку */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90%; /* Ограничить максимальную высоту */
    justify-content: start;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* .modal::-webkit-scrollbar {
    display: none;
} */

.av-form .x-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.av-form .x-btn:hover {
    background-color: #F3F6F6;
}

.av-form .fill-btn,
.av-form .outline-btn {
    width: 100%;
}

.av-form .form-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.av-form-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 24px;
    background-color: #fff;
}

.new-vacancy-btn a {
    color: #EFFBFF;
}

.new-vacancy-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 15px 30px;
    border-radius: 999px;
    font-weight: 500;
    height: 48px;

    background-color: #242424;
    color: #EFFBFF;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.new-vacancy-btn:hover {
    cursor: pointer;

    background-color: #323232;
}




.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 999px;

    background-color: #242424;
    color: #EFFBFF;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-btn {
    border: 2px solid #242424;
    background-color: transparent;
    color: #242424;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-btn:hover {
    cursor: pointer;

    background-color: #EFFBFF;
    border: 2px solid #3FA3FF;
}