.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15px;
}

.cover {
    width: 32px;
    height: 32px;
    border-radius: 999px;
}

.edit-modal {
    /* position:relative; */
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed; /* Зафиксировать позицию окна */
    z-index: 1; /* Поместить окно поверх других элементов */
    top:0;
}

body.modal-open {
    overflow: hidden;
}

body.modal-open .main-content {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.x-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.inline-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

#title-block, #conditions-block {
    gap: 30px;
}

input[type="file"] {
    cursor: pointer;
    transition: border 300ms ease, background-color 300ms ease;
}

input[type="file"]:hover {
    background-color: #eaeeee;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

#edit-cancel, #edit-submit {
    width: 142px;
}