body {
    position: relative;
}

.blur-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.av-form {
    justify-content: start;
    display: flex;
    position: fixed;
    overflow-y: auto;
    top: 25%;
    bottom: 25%;
    z-index: 2;
}

.av-form p {
    display: inline-block;
    word-wrap: break-word;
    width: 320px;
}

.av-form .x-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.av-form .x-btn:hover {
    background-color: #F3F6F6;
}


.av-form .fill-btn,
.av-form .outline-btn {
    width: 100%;
}

.av-form p {
    color: #242424;
    font-size: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 32px;
    height: 32px;
    border-radius: 999px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15px;
}


.action-btn>* {
    background-color: #F3F6F6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn>*:hover {
    background-color: #EBEBEB;
}


.r-stat-1 {
    color: #75BB63;
    width: 120px;
}

.r-stat-2 {
    color: #FF6565;
    width: 120px;
}

.r-stat-3 {
    color: #3FA3FF;
    width: 120px;
}

.r-stat-4 {
    color: #979797;
    width: 120px;
}