h1 {
    line-height: 1.1;
}

.user-role {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    gap: 10px;
}

.role-btn {
    padding: 5px 10px;
    border-radius: 999px;

    border: 2px solid #3FA3FF;
    color: #3FA3FF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#active-role {
    background-color: #242424;
    border-color: #242424;
    color: #EFFBFF;
    cursor: pointer;
}

.role-btn:hover {
    cursor: pointer;
    background-color: #3FA3FF;
    border-color: #3FA3FF;
    color: #EFFBFF;
}


.search-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search {
    width: 480px;
    height: 56px;
    border-radius: 999px;
    padding: 17px 150px 17px 30px;

    font-family: "Manrope", sans-serif;
    font-weight: 500;

    background-color: #FFFFFF;
}

.search-box button {
    width: 123px;
    height: 48px;
    border-radius: 999px;

    font-family: "Manrope", sans-serif;
    font-weight: 500;

    background-color: #242424;
    color: #EFFBFF;

    position: absolute;
    right: 4px;
    top: 4px;
}

.w-head-btn a {
    color: #EFFBFF;
}

.search-box>* {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.2s ease-out forwards;
    animation-delay: calc(var(--i) * 0.05s);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}