.user-role {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10px;
    justify-content: center;
}

.role-btn {
    padding: 5px 10px;
    border-radius: 999px;
    border: 2px solid #242424;
}

#active-role,
.role-btn:hover {
    background-color: #242424;
    color: #EFFBFF;
    cursor: pointer;
}

.search-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search {
    width: 480px;
    height: 56px;
    border-radius: 999px;
    padding: 17px 150px 17px 30px;

    font-family: "Manrope", sans-serif;
    font-weight: 500;

    background-color: #FFFFFF;
}

.search-box button {
    width: 123px;
    height: 48px;
    border-radius: 999px;

    font-family: "Manrope", sans-serif;
    font-weight: 500;

    background-color: #242424;
    color: #EFFBFF;

    position: absolute;
    right: 4px;
    top: 4px;
}

.search-box span {
    color: #3FA3FF;
}

.av-btn-v1 {
    padding: 10px 30px;
    border-radius: 999px;
    border: 2px solid #EFFBFF;
}

.av-btn-v1:hover {
    color: #EFFBFF;
    background-color: #323232;
    cursor: pointer;
}

.av-btn-v1 a {
    color: #EFFBFF;
}

.av-btn-v2 {
    padding: 10px 30px;
    border-radius: 999px;
}