body {
    position: relative;
}

.blur-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.av-form {
    display: flex;
    position: fixed;
    top: 25%;
    z-index: 2;
}

.av-form .x-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.av-form .x-btn:hover {
    background-color: #F3F6F6;
}


.av-form .fill-btn,
.av-form .outline-btn {
    width: 100%;
}

.av-form .form-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.breakpoints {
    display: flex;
    align-self: flex-start;
    gap: 10px;
}

.breakpoints a,
.breakpoints p {
    text-decoration: none;
    color: #979797;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.breakpoints a:hover {
    text-decoration: none;
    color: #3FA3FF;
}

.breakpoints #current-page {
    color: #242424;
}

.vacancy-column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.vacancy-column-content .vacancy-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.cover {
    width: 100%;
    height: 360px;
    border-radius: 24px;
}

.vacancy-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.double-block {
    display: flex;
    gap: 10px;
    width: 100%;
}

.vacancy-content-block,
.inline-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    padding: 40px;
    border-radius: 24px;
    background-color: #FFFFFF;
}

#salary-block {
    color: #242424;
    background-color: #D3F2FF;
}

#salary-block .tag {
    background-color: #242424;
    color: #EFFBFF;
}

#company-block {
    color: #EFFBFF;
    background-color: #242424;
}

#company-block h3 {
    color: #EFFBFF;
}

.v-block-detail {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tags {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tag {
    display: flex;
    width: fit-content;

    gap: 5px;
    align-items: center;
    padding: 5px 15px;

    background-color: #EFFBFF;
    border-radius: 999px;
    color: #242424;
    font-weight: 700;
}

#response-form {
    top: 25%;
}

.av-form .x-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.av-form .x-btn:hover {
    background-color: #F3F6F6;
}


.av-form .fill-btn,
.av-form .outline-btn {
    width: 100%;
}

.av-form .form-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.breakpoints,
.double-btn,
.vacancy-title,
.inline-block,
.cover,
.vacancy-content-block {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.2s ease-out forwards;
    animation-delay: calc(var(--i) * 0.05s);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body.no-scroll {
    overflow: hidden;
}

.av-form {
    display: flex;
    position: fixed;
    top: 5%;
    z-index: 2;
    /* overflow: scroll; Добавить прокрутку */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90%;
    /* Ограничить максимальную высоту */
    justify-content: start;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* .modal::-webkit-scrollbar {
    display: none;
} */

.av-form .x-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.av-form .x-btn:hover {
    background-color: #F3F6F6;
}

.av-form .fill-btn,
.av-form .outline-btn {
    width: 100%;
}

.av-form .form-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.av-form-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 24px;
    background-color: #fff;
}